body {
    background-color: rgb(88, 86, 86);
    text-align: left;
    font-family: 'copperplate';
    font-size: larger;
}

nav {
    background-color: rgb(46, 45, 45);
    margin-left: 15px;
    margin: 0px;
    padding: 20px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    background-color: cadetblue;
    border-radius: 3px;
}

.box {
    padding: 50px;
    margin-top: 20px;
    margin: auto;
}

.button {
    color: white;
    background-color: grey;
    height: 30px;
    width: 75px;
}

button:hover {
    background-color: cadetblue;
}

h3{
    color: black;
}

h6 {
    color: black;
}